### Market Share Analysis using data from the [Casablanca-bourse](https://www.casablanca-bourse.com/fr/live-market/emetteurs/AFM151215) Website



> **Preprocessing part**

**By:**

* [Hamza Khalid](https://hamzakhalid.me/)
* [Ismail Ouahbi](https://ismailouahbi.github.io/)


---

### EDA part

In [ ]:
# Import packages for EDA

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
# Config google drive

# Allow this script to access your google drive folders
from google.colab import drive
drive.mount('/content/gdrive/')

Mounted at /content/gdrive/

In [ ]:
import os

# Verify list of directories [Supposed to show CSV files]
os.listdir("/content/gdrive/My Drive/ID&TECH")

['actionnaires.csv', 'KPI.csv', 'main.csv']

In [ ]:
# import data files

# main file
main = pd.read_csv("/content/gdrive/MyDrive/ID&TECH/main.csv")

# actionnaires file
actionnaires = pd.read_csv("/content/gdrive/MyDrive/ID&TECH/actionnaires.csv")

# KPI's file
kpi = pd.read_csv("/content/gdrive/MyDrive/ID&TECH/KPI.csv")

In [ ]:
### preview dataframes

# main dataframe
main.head()

,Ticker,Instrument,Nombre de titres,Cours (MAD),Capitalisation,date
0,MDP,MED PAPER,4 783 823,"28,98","138 635 190,54",26 décembre 2022
1,ALM,ALUMINIUM DU MAROC,465 954,"1 420,00","661 654 680,00",26 décembre 2022
2,AGM,AGMA,200 000,"6 050,00","1 210 000 000,00",26 décembre 2022
3,NEJ,AUTO NEJMA,1 023 264,"1 817,00","1 859 270 688,00",26 décembre 2022
4,GAZ,AFRIQUIA GAZ,3 437 500,"4 525,00","15 554 687 500,00",26 décembre 2022

In [ ]:
# actionnaires dataframe
actionnaires.head()

  Instrument         actionnaires pourcentage
0       AFMA       TENOR FINANCES     39,48 %
1       AFMA  DIVERS ACTIONNAIRES     25,80 %
2       AFMA                 CIMR     11,63 %
3       AFMA        FIPAR HOLDING     10,00 %
4       AFMA          TENOR GROUP      5,53 %

In [ ]:
# kpi dataframe
kpi.head()

,instrument,KPI,2022,2021,2020,2019,2011,2010,2009,2014,2013,2012
0,AFMA,Comptes consolidés,Oui,Oui,Oui,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,AFMA,Capital social (2),"10 000 000,00","10 000 000,00","10 000 000,00",NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,AFMA,Capitaux propres (3),"49 248 606,00","43 022 575,00","30 915 637,00",NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,AFMA,Nombre titres(2),1 000 000,1 000 000,1 000 000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,AFMA,Chiffre d'Affaires,"243 691 127,00","221 877 454,00","203 615 412,00",NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
## Statistics about data
print("Shape of dataframes")
print("Main", main.shape)
print("Actionnaires", actionnaires.shape)
print("KPI's", kpi.shape)

Shape of dataframes
Main (6516, 6)
Actionnaires (480, 3)
KPI's (532, 12)

In [ ]:
## Check data types
print('For main dataframe')
print('*'*30)
main.info()

For main dataframe
******************************
<class 'pandas.core.frame.DataFrame'>
Int64Index: 6516 entries, 0 to 6515
Data columns (total 6 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Ticker            6516 non-null   object
 1   Instrument        6516 non-null   object
 2   Nombre de titres  6516 non-null   object
 3   Cours (MAD)       6516 non-null   object
 4   Capitalisation    6516 non-null   object
 5   date              6516 non-null   object
dtypes: object(6)
memory usage: 356.3+ KB

In [ ]:
print('For actionnaires dataframe')
print('*'*30)
actionnaires.info()

For actionnaires dataframe
******************************
<class 'pandas.core.frame.DataFrame'>
Int64Index: 480 entries, 0 to 479
Data columns (total 3 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Instrument    480 non-null    object
 1   actionnaires  480 non-null    object
 2   pourcentage   480 non-null    object
dtypes: object(3)
memory usage: 15.0+ KB

In [ ]:
print('For KPIs dataframe')
print('*'*30)
kpi.info()

For KPIs dataframe
******************************
<class 'pandas.core.frame.DataFrame'>
Int64Index: 532 entries, 0 to 531
Data columns (total 12 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   instrument  532 non-null    object
 1   KPI         532 non-null    object
 2   2022        490 non-null    object
 3   2021        518 non-null    object
 4   2020        511 non-null    object
 5   2019        28 non-null     object
 6   2011        7 non-null      object
 7   2010        7 non-null      object
 8   2009        7 non-null      object
 9   2014        7 non-null      object
 10  2013        7 non-null      object
 11  2012        7 non-null      object
dtypes: object(12)
memory usage: 54.0+ KB

In [ ]:
## Check for null values
print('For main dataframe')
print('*'*30)
main.isnull().sum()

For main dataframe
******************************

Ticker              0
Instrument          0
Nombre de titres    0
Cours (MAD)         0
Capitalisation      0
date                0
dtype: int64

In [ ]:
print('For actionnaires dataframe')
print('*'*30)
actionnaires.isnull().sum()

For actionnaires dataframe
******************************

Instrument      0
actionnaires    0
pourcentage     0
dtype: int64

In [ ]:
print('For KPI dataframe')
print('*'*30)
kpi.isnull().sum()

For KPI dataframe
******************************

instrument      0
KPI             0
2022           42
2021           14
2020           21
2019          504
2011          525
2010          525
2009          525
2014          525
2013          525
2012          525
dtype: int64

In [ ]:
## Check for duplicates
print('For main dataframe')
print('*'*30)
main.duplicated(keep='first').sum()

For main dataframe
******************************

0

In [ ]:
print('For actionnaires dataframe')
print('*'*30)
actionnaires.duplicated(keep='first').sum()

For actionnaires dataframe
******************************

0

In [ ]:
print('For KPIs dataframe')
print('*'*30)
kpi.duplicated(keep='first').sum()

For KPIs dataframe
******************************

0

### Data preprocessing part

In [ ]:
### handle the problem of null values in KPI table

Kpi_ = kpi[['instrument', 'KPI', '2022', '2021', '2020']]

In [ ]:
### verify the Kpi_ table

Kpi_.head(10)

,instrument,KPI,2022,2021,2020
0,AFMA,Comptes consolidés,Oui,Oui,Oui
1,AFMA,Capital social (2),"10 000 000,00","10 000 000,00","10 000 000,00"
2,AFMA,Capitaux propres (3),"49 248 606,00","43 022 575,00","30 915 637,00"
3,AFMA,Nombre titres(2),1 000 000,1 000 000,1 000 000
4,AFMA,Chiffre d'Affaires,"243 691 127,00","221 877 454,00","203 615 412,00"
5,AFMA,Résultat d'exploitation,"96 608 288,00","92 373 532,00","70 132 814,00"
6,AFMA,Résultat net (4),"59 317 596,00","57 854 888,00","42 557 878,00"
7,AFRIC INDUSTRIES,Comptes consolidés,Non,Non,Non
8,AFRIC INDUSTRIES,Capital social (2),"14 575 000,00","14 575 000,00","14 575 000,00"
9,AFRIC INDUSTRIES,Capitaux propres (3),"45 322 969,75","45 548 741,68","46 693 776,29"

In [ ]:
### get a list of comapny names

instruments = list(set(Kpi_['instrument']))
instruments

['JET CONTRACTORS',
 'ITISSALAT AL-MAGHRIB',
 'INVOLYS',
 'ENNAKL',
 'SNEP',
 'CARTIER SAADA',
 'LESIEUR CRISTAL',
 'SANLAM MAROC',
 'IBMAROC',
 'DISWAY',
 'ATLANTASANAD',
 'IMMORENTE INVEST',
 'TAQA MOROCCO',
 'CREDIT DU MAROC',
 'FENIE BROSSETTE',
 'MAROC LEASING',
 'PROMOPHARM',
 'ALUMINIUM DU  MAROC',
 'BCP',
 'BANK OF AFRICA',
 'LAFARGEHOLCIM MAR',
 'RISMA',
 'AFRIC INDUSTRIES',
 'DARI COUSPATE',
 'MAGHREBAIL',
 'MED PAPER',
 'HIGHTECH PAYMENT SYSTEMS',
 'MUTANDIS SCA',
 'SRM',
 'COLORADO',
 'AGMA',
 'DOUJA PROMOTION GROUPE ADDOHA',
 'SOCIETE DES BOISSONS DU MAROC',
 "SOCIETE METALLURGIQUE D'IMITER",
 'AFMA',
 'ATTIJARIWAFA BANK',
 'CIH',
 'COSUMAR',
 'REBAB COMPANY',
 'STROC Industrie',
 'AKDITAL',
 'UNIMER',
 'BMCI',
 'DELATTRE LEVIVIER MAROC',
 'MANAGEM',
 'DISTY TECHNOLOGIES',
 'S.M MONETIQUE',
 'CIMENTS DU MAROC',
 'TOTALENERGIES MARKETING MAROC',
 'LABEL VIE',
 'ZELLIDJA',
 'WAFA ASSURANCE',
 'M2M Group',
 'AUTO - HALL',
 'AUTO NEJMA',
 'BALIMA',
 'COMPAGNIE MINIERE DE TOUISSIT',
 'MICRODATA',
 'RESIDENCES DAR SAADA',
 'AFRIQUIA GAZ',
 'SALAFIN',
 'SAMIR',
 'SODEP-Marsa Maroc',
 'EQDOM',
 'DIAC SALAF',
 "SOCIETE  LES  EAUX  MINERALES  D'OULMES",
 'ARADEI CAPITAL',
 'SOCIETE NATIONALE DE SIDERURGIE',
 'SOCIETE DE THERAPEUTIQUE MAROCAINE',
 'STOKVIS NORD AFRIQUE',
 'TGCC S.A',
 'TIMAR',
 'DELTA HOLDING',
 'CTM',
 'ALLIANCES DEVELOPPEMENT IMMOBILIER',
 'MAGHREB OXYGENE']

In [ ]:
# columns to check
columns_to_check = ['2022', '2021', '2020']

In [ ]:
# Replace commas with dots in all columns
Kpi_[columns_to_check] = Kpi_[columns_to_check].replace({' ': '', ',': '.'}, regex=True)

# Also Replace '-' character with NaN
Kpi_[columns_to_check] = Kpi_[columns_to_check].replace({'-': np.nan}, regex=True)

<ipython-input-15-f9d64e071ed8>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Kpi_[columns_to_check] = Kpi_[columns_to_check].replace({' ': '', ',': '.'}, regex=True)
<ipython-input-15-f9d64e071ed8>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Kpi_[columns_to_check] = Kpi_[columns_to_check].replace({'-': np.nan}, regex=True)

In [ ]:
# Use the 'subset' parameter in dropna to specify the columns to check for NaN
Kpi_without_nan = Kpi_.dropna(subset=columns_to_check, how='all')

In [ ]:
# Select distinct values from column 'KPI'
KPIs = Kpi_without_nan['KPI'].unique().tolist()

# remove the first string column from KPI list
KPIs.remove('Comptes consolidés')

# verify
KPIs

['Capital social (2)',
 'Capitaux propres (3)',
 'Nombre titres(2)',
 "Chiffre d'Affaires",
 "Résultat d'exploitation",
 'Résultat net (4)']

In [ ]:
### verify Kpi_without_nan
Kpi_without_nan.head()

  instrument                   KPI          2022          2021          2020
0       AFMA    Comptes consolidés           Oui           Oui           Oui
1       AFMA    Capital social (2)   10000000.00   10000000.00   10000000.00
2       AFMA  Capitaux propres (3)   49248606.00   43022575.00   30915637.00
3       AFMA      Nombre titres(2)       1000000       1000000       1000000
4       AFMA    Chiffre d'Affaires  243691127.00  221877454.00  203615412.00

---------------------------------------------------------------------------------------------------------

In [ ]:
 ### iterate over each company's KPI and impute missing values

for instrument in instruments:
  # for each KPI within KPI column
  for kpi in KPIs:

    # filtering condition
    condition = (Kpi_without_nan.loc[:,"instrument"]==instrument) & (Kpi_without_nan.loc[:,"KPI"]==kpi)

    # Impute using mean strategy if there is one null value
    if Kpi_without_nan.loc[(Kpi_without_nan.loc[:,"instrument"]==instrument) & (Kpi_without_nan.loc[:,"KPI"]==kpi),:].isnull().sum().sum() == 1:
      # value to fill by (using mean value)
      value_impt = Kpi_without_nan.loc[condition, columns_to_check].astype(float).mean(axis=1)

      # Select rows where there are NaN values
      rows_with_nan = Kpi_without_nan.loc[condition & (Kpi_without_nan.isna().any(axis=1))]

      # Select columns where there are NaN values
      columns_with_nan = Kpi_without_nan.columns[rows_with_nan.isna().any()]

      # impute missing values

      Kpi_without_nan.loc[rows_with_nan.index, columns_with_nan] = value_impt

    elif Kpi_without_nan.loc[(Kpi_without_nan.loc[:,"instrument"]==instrument) & (Kpi_without_nan.loc[:,"KPI"]==kpi),:].isnull().sum().sum() == 2:
    # else if, impute using the non-null value

      # select rows with more than 2 null values
      rows_with_nan = Kpi_without_nan.loc[condition & (Kpi_without_nan.isna().any(axis=1))]

      # select columns to fill using imputation
      columns_with_values = Kpi_without_nan.loc[condition, columns_to_check].columns[Kpi_without_nan.loc[condition, columns_to_check].notna().any()]

      # take the value to use within imputation
      value_ = Kpi_without_nan.loc[condition, columns_with_values].values.astype(float)[0][0]

      # take the columns with NaN and rows

      columns_with_nan = Kpi_without_nan.loc[condition].columns[Kpi_without_nan.loc[condition].isna().any()]

      rows_with_nan = Kpi_without_nan.loc[condition].index

      # impute

      Kpi_without_nan.loc[rows_with_nan, columns_with_nan.values] = value_


    else:
      print('Nothing to impute')

Nothing to impute
Nothing to impute
Nothing to impute
Nothing to impute
Nothing to impute
Nothing to impute
Nothing to impute
Nothing to impute
Nothing to impute
Nothing to impute
Nothing to impute
Nothing to impute
Nothing to impute
Nothing to impute
Nothing to impute
Nothing to impute
Nothing to impute
Nothing to impute
Nothing to impute
Nothing to impute
Nothing to impute
Nothing to impute
Nothing to impute
Nothing to impute
Nothing to impute
Nothing to impute
Nothing to impute

<ipython-input-20-d44ca701277d>:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Kpi_without_nan.loc[rows_with_nan.index, columns_with_nan] = value_impt
<ipython-input-20-d44ca701277d>:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Kpi_without_nan.loc[rows_with_nan.index, columns_with_nan] = value_impt
<ipython-input-20-d44ca701277d>:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Kpi_without_nan.loc[rows_with_nan.index, columns_with_nan] = value_impt
<ipython-input-20-d44ca701277d>:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Kpi_without_nan.loc[rows_with_nan.index, columns_with_nan] = value_impt
<ipython-input-20-d44ca701277d>:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Kpi_without_nan.loc[rows_with_nan.index, columns_with_nan] = value_impt
<ipython-input-20-d44ca701277d>:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Kpi_without_nan.loc[rows_with_nan.index, columns_with_nan] = value_impt
<ipython-input-20-d44ca701277d>:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Kpi_without_nan.loc[rows_with_nan.index, columns_with_nan] = value_impt
<ipython-input-20-d44ca701277d>:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Kpi_without_nan.loc[rows_with_nan.index, columns_with_nan] = value_impt
<ipython-input-20-d44ca701277d>:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Kpi_without_nan.loc[rows_with_nan.index, columns_with_nan] = value_impt
<ipython-input-20-d44ca701277d>:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Kpi_without_nan.loc[rows_with_nan.index, columns_with_nan] = value_impt
<ipython-input-20-d44ca701277d>:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Kpi_without_nan.loc[rows_with_nan.index, columns_with_nan] = value_impt
<ipython-input-20-d44ca701277d>:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Kpi_without_nan.loc[rows_with_nan.index, columns_with_nan] = value_impt
<ipython-input-20-d44ca701277d>:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Kpi_without_nan.loc[rows_with_nan.index, columns_with_nan] = value_impt
<ipython-input-20-d44ca701277d>:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Kpi_without_nan.loc[rows_with_nan.index, columns_with_nan] = value_impt
<ipython-input-20-d44ca701277d>:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Kpi_without_nan.loc[rows_with_nan.index, columns_with_nan] = value_impt
<ipython-input-20-d44ca701277d>:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Kpi_without_nan.loc[rows_with_nan.index, columns_with_nan] = value_impt

Nothing to impute
Nothing to impute
Nothing to impute
Nothing to impute
Nothing to impute
Nothing to impute
Nothing to impute
Nothing to impute
Nothing to impute
Nothing to impute
Nothing to impute
Nothing to impute
Nothing to impute
Nothing to impute
Nothing to impute
Nothing to impute
Nothing to impute
Nothing to impute
Nothing to impute
Nothing to impute
Nothing to impute
Nothing to impute
Nothing to impute
Nothing to impute
Nothing to impute
Nothing to impute
Nothing to impute
Nothing to impute
Nothing to impute
Nothing to impute
Nothing to impute
Nothing to impute
Nothing to impute
Nothing to impute
Nothing to impute
Nothing to impute
Nothing to impute
Nothing to impute
Nothing to impute
Nothing to impute
Nothing to impute
Nothing to impute
Nothing to impute
Nothing to impute
Nothing to impute
Nothing to impute
Nothing to impute

<ipython-input-20-d44ca701277d>:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Kpi_without_nan.loc[rows_with_nan.index, columns_with_nan] = value_impt
<ipython-input-20-d44ca701277d>:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Kpi_without_nan.loc[rows_with_nan.index, columns_with_nan] = value_impt
<ipython-input-20-d44ca701277d>:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Kpi_without_nan.loc[rows_with_nan.index, columns_with_nan] = value_impt
<ipython-input-20-d44ca701277d>:45: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Kpi_without_nan.loc[rows_with_nan, columns_with_nan.values] = value_
<ipython-input-20-d44ca701277d>:45: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Kpi_without_nan.loc[rows_with_nan, columns_with_nan.values] = value_

Nothing to impute
Nothing to impute
Nothing to impute
Nothing to impute
Nothing to impute
Nothing to impute
Nothing to impute
Nothing to impute
Nothing to impute
Nothing to impute
Nothing to impute
Nothing to impute
Nothing to impute
Nothing to impute
Nothing to impute
Nothing to impute
Nothing to impute
Nothing to impute
Nothing to impute
Nothing to impute
Nothing to impute
Nothing to impute
Nothing to impute
Nothing to impute
Nothing to impute
Nothing to impute
Nothing to impute
Nothing to impute
Nothing to impute
Nothing to impute
Nothing to impute
Nothing to impute
Nothing to impute
Nothing to impute
Nothing to impute
Nothing to impute
Nothing to impute
Nothing to impute
Nothing to impute
Nothing to impute
Nothing to impute
Nothing to impute
Nothing to impute
Nothing to impute
Nothing to impute
Nothing to impute
Nothing to impute
Nothing to impute
Nothing to impute
Nothing to impute
Nothing to impute
Nothing to impute
Nothing to impute
Nothing to impute
Nothing to impute
Nothing to impute
Nothing to impute
Nothing to impute
Nothing to impute
Nothing to impute
Nothing to impute
Nothing to impute
Nothing to impute
Nothing to impute
Nothing to impute
Nothing to impute
Nothing to impute
Nothing to impute
Nothing to impute
Nothing to impute
Nothing to impute
Nothing to impute
Nothing to impute
Nothing to impute
Nothing to impute
Nothing to impute
Nothing to impute
Nothing to impute
Nothing to impute
Nothing to impute
Nothing to impute
Nothing to impute
Nothing to impute
Nothing to impute
Nothing to impute
Nothing to impute
Nothing to impute

<ipython-input-20-d44ca701277d>:45: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Kpi_without_nan.loc[rows_with_nan, columns_with_nan.values] = value_
<ipython-input-20-d44ca701277d>:45: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Kpi_without_nan.loc[rows_with_nan, columns_with_nan.values] = value_
<ipython-input-20-d44ca701277d>:45: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Kpi_without_nan.loc[rows_with_nan, columns_with_nan.values] = value_
<ipython-input-20-d44ca701277d>:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Kpi_without_nan.loc[rows_with_nan.index, columns_with_nan] = value_impt
<ipython-input-20-d44ca701277d>:45: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Kpi_without_nan.loc[rows_with_nan, columns_with_nan.values] = value_
<ipython-input-20-d44ca701277d>:45: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Kpi_without_nan.loc[rows_with_nan, columns_with_nan.values] = value_

Nothing to impute
Nothing to impute
Nothing to impute
Nothing to impute
Nothing to impute
Nothing to impute
Nothing to impute
Nothing to impute
Nothing to impute
Nothing to impute
Nothing to impute
Nothing to impute
Nothing to impute
Nothing to impute
Nothing to impute
Nothing to impute
Nothing to impute
Nothing to impute
Nothing to impute
Nothing to impute
Nothing to impute
Nothing to impute
Nothing to impute
Nothing to impute
Nothing to impute
Nothing to impute
Nothing to impute
Nothing to impute
Nothing to impute
Nothing to impute
Nothing to impute
Nothing to impute
Nothing to impute
Nothing to impute
Nothing to impute
Nothing to impute
Nothing to impute
Nothing to impute

<ipython-input-20-d44ca701277d>:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Kpi_without_nan.loc[rows_with_nan.index, columns_with_nan] = value_impt
<ipython-input-20-d44ca701277d>:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Kpi_without_nan.loc[rows_with_nan.index, columns_with_nan] = value_impt
<ipython-input-20-d44ca701277d>:45: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Kpi_without_nan.loc[rows_with_nan, columns_with_nan.values] = value_
<ipython-input-20-d44ca701277d>:45: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Kpi_without_nan.loc[rows_with_nan, columns_with_nan.values] = value_
<ipython-input-20-d44ca701277d>:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Kpi_without_nan.loc[rows_with_nan.index, columns_with_nan] = value_impt
<ipython-input-20-d44ca701277d>:45: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Kpi_without_nan.loc[rows_with_nan, columns_with_nan.values] = value_

Nothing to impute
Nothing to impute
Nothing to impute
Nothing to impute
Nothing to impute
Nothing to impute
Nothing to impute
Nothing to impute
Nothing to impute
Nothing to impute
Nothing to impute
Nothing to impute
Nothing to impute
Nothing to impute
Nothing to impute
Nothing to impute
Nothing to impute
Nothing to impute
Nothing to impute
Nothing to impute
Nothing to impute
Nothing to impute
Nothing to impute
Nothing to impute
Nothing to impute
Nothing to impute
Nothing to impute
Nothing to impute
Nothing to impute
Nothing to impute
Nothing to impute
Nothing to impute
Nothing to impute
Nothing to impute
Nothing to impute

<ipython-input-20-d44ca701277d>:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Kpi_without_nan.loc[rows_with_nan.index, columns_with_nan] = value_impt
<ipython-input-20-d44ca701277d>:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Kpi_without_nan.loc[rows_with_nan.index, columns_with_nan] = value_impt
<ipython-input-20-d44ca701277d>:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Kpi_without_nan.loc[rows_with_nan.index, columns_with_nan] = value_impt
<ipython-input-20-d44ca701277d>:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Kpi_without_nan.loc[rows_with_nan.index, columns_with_nan] = value_impt
<ipython-input-20-d44ca701277d>:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Kpi_without_nan.loc[rows_with_nan.index, columns_with_nan] = value_impt
<ipython-input-20-d44ca701277d>:45: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Kpi_without_nan.loc[rows_with_nan, columns_with_nan.values] = value_
<ipython-input-20-d44ca701277d>:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Kpi_without_nan.loc[rows_with_nan.index, columns_with_nan] = value_impt
<ipython-input-20-d44ca701277d>:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Kpi_without_nan.loc[rows_with_nan.index, columns_with_nan] = value_impt
<ipython-input-20-d44ca701277d>:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Kpi_without_nan.loc[rows_with_nan.index, columns_with_nan] = value_impt
<ipython-input-20-d44ca701277d>:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Kpi_without_nan.loc[rows_with_nan.index, columns_with_nan] = value_impt
<ipython-input-20-d44ca701277d>:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Kpi_without_nan.loc[rows_with_nan.index, columns_with_nan] = value_impt

Nothing to impute
Nothing to impute
Nothing to impute
Nothing to impute
Nothing to impute
Nothing to impute
Nothing to impute
Nothing to impute
Nothing to impute
Nothing to impute
Nothing to impute
Nothing to impute
Nothing to impute
Nothing to impute
Nothing to impute
Nothing to impute
Nothing to impute
Nothing to impute
Nothing to impute
Nothing to impute
Nothing to impute
Nothing to impute
Nothing to impute
Nothing to impute
Nothing to impute
Nothing to impute
Nothing to impute
Nothing to impute
Nothing to impute
Nothing to impute
Nothing to impute
Nothing to impute
Nothing to impute
Nothing to impute
Nothing to impute
Nothing to impute
Nothing to impute
Nothing to impute
Nothing to impute
Nothing to impute
Nothing to impute
Nothing to impute
Nothing to impute
Nothing to impute
Nothing to impute
Nothing to impute
Nothing to impute
Nothing to impute
Nothing to impute
Nothing to impute
Nothing to impute
Nothing to impute
Nothing to impute
Nothing to impute
Nothing to impute
Nothing to impute
Nothing to impute
Nothing to impute
Nothing to impute
Nothing to impute
Nothing to impute
Nothing to impute
Nothing to impute
Nothing to impute
Nothing to impute
Nothing to impute
Nothing to impute
Nothing to impute
Nothing to impute
Nothing to impute
Nothing to impute
Nothing to impute
Nothing to impute
Nothing to impute
Nothing to impute
Nothing to impute
Nothing to impute
Nothing to impute
Nothing to impute
Nothing to impute
Nothing to impute
Nothing to impute
Nothing to impute
Nothing to impute
Nothing to impute
Nothing to impute
Nothing to impute
Nothing to impute
Nothing to impute
Nothing to impute
Nothing to impute
Nothing to impute
Nothing to impute
Nothing to impute
Nothing to impute
Nothing to impute
Nothing to impute
Nothing to impute
Nothing to impute

<ipython-input-20-d44ca701277d>:45: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Kpi_without_nan.loc[rows_with_nan, columns_with_nan.values] = value_
<ipython-input-20-d44ca701277d>:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Kpi_without_nan.loc[rows_with_nan.index, columns_with_nan] = value_impt
<ipython-input-20-d44ca701277d>:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Kpi_without_nan.loc[rows_with_nan.index, columns_with_nan] = value_impt

Nothing to impute
Nothing to impute
Nothing to impute
Nothing to impute
Nothing to impute
Nothing to impute
Nothing to impute
Nothing to impute
Nothing to impute
Nothing to impute
Nothing to impute
Nothing to impute
Nothing to impute
Nothing to impute
Nothing to impute
Nothing to impute
Nothing to impute
Nothing to impute
Nothing to impute
Nothing to impute
Nothing to impute
Nothing to impute
Nothing to impute
Nothing to impute
Nothing to impute
Nothing to impute
Nothing to impute
Nothing to impute
Nothing to impute
Nothing to impute
Nothing to impute
Nothing to impute
Nothing to impute
Nothing to impute
Nothing to impute
Nothing to impute
Nothing to impute
Nothing to impute
Nothing to impute

<ipython-input-20-d44ca701277d>:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Kpi_without_nan.loc[rows_with_nan.index, columns_with_nan] = value_impt
<ipython-input-20-d44ca701277d>:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Kpi_without_nan.loc[rows_with_nan.index, columns_with_nan] = value_impt
<ipython-input-20-d44ca701277d>:45: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Kpi_without_nan.loc[rows_with_nan, columns_with_nan.values] = value_
<ipython-input-20-d44ca701277d>:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Kpi_without_nan.loc[rows_with_nan.index, columns_with_nan] = value_impt
<ipython-input-20-d44ca701277d>:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Kpi_without_nan.loc[rows_with_nan.index, columns_with_nan] = value_impt

Nothing to impute
Nothing to impute
Nothing to impute
Nothing to impute
Nothing to impute
Nothing to impute
Nothing to impute
Nothing to impute
Nothing to impute
Nothing to impute
Nothing to impute
Nothing to impute
Nothing to impute
Nothing to impute
Nothing to impute
Nothing to impute
Nothing to impute
Nothing to impute
Nothing to impute
Nothing to impute
Nothing to impute
Nothing to impute
Nothing to impute
Nothing to impute
Nothing to impute
Nothing to impute
Nothing to impute
Nothing to impute

<ipython-input-20-d44ca701277d>:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Kpi_without_nan.loc[rows_with_nan.index, columns_with_nan] = value_impt
<ipython-input-20-d44ca701277d>:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Kpi_without_nan.loc[rows_with_nan.index, columns_with_nan] = value_impt
<ipython-input-20-d44ca701277d>:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Kpi_without_nan.loc[rows_with_nan.index, columns_with_nan] = value_impt
<ipython-input-20-d44ca701277d>:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Kpi_without_nan.loc[rows_with_nan.index, columns_with_nan] = value_impt

In [ ]:
#check
Kpi_without_nan

    instrument                   KPI          2022          2021          2020
0         AFMA    Comptes consolidés           Oui           Oui           Oui
1         AFMA    Capital social (2)   10000000.00   10000000.00   10000000.00
2         AFMA  Capitaux propres (3)   49248606.00   43022575.00   30915637.00
3         AFMA      Nombre titres(2)       1000000       1000000       1000000
4         AFMA    Chiffre d'Affaires  243691127.00  221877454.00  203615412.00
..         ...                   ...           ...           ...           ...
525   ZELLIDJA    Comptes consolidés           Non           Oui           Oui
526   ZELLIDJA    Capital social (2)   57284900.00   57284900.00   57284900.00
527   ZELLIDJA  Capitaux propres (3)   24000192.62   47376000.00   89444000.00
528   ZELLIDJA      Nombre titres(2)        572849        572849        572849
529   ZELLIDJA    Chiffre d'Affaires      30000.00  536100000.00  429173000.00

[499 rows x 5 columns]

In [ ]:
# delete the lignes where KPI = 'Comptes consolides'
Kpi_without_nan = Kpi_without_nan.loc[~(Kpi_without_nan.loc[:,"KPI"]=='Comptes consolidés'), :]

In [ ]:
# verify
Kpi_without_nan

,instrument,KPI,2022,2021,2020
1,AFMA,Capital social (2),10000000.00,10000000.00,10000000.00
2,AFMA,Capitaux propres (3),49248606.00,43022575.00,30915637.00
3,AFMA,Nombre titres(2),1000000,1000000,1000000
4,AFMA,Chiffre d'Affaires,243691127.00,221877454.00,203615412.00
5,AFMA,Résultat d'exploitation,96608288.00,92373532.00,70132814.00
...,...,...,...,...,...
524,WAFA ASSURANCE,Résultat net (4),776079000.00,424041000.00,404455900.34
526,ZELLIDJA,Capital social (2),57284900.00,57284900.00,57284900.00
527,ZELLIDJA,Capitaux propres (3),24000192.62,47376000.00,89444000.00
528,ZELLIDJA,Nombre titres(2),572849,572849,572849
529,ZELLIDJA,Chiffre d'Affaires,30000.00,536100000.00,429173000.00

In [ ]:
# recheck data types of columns in Kpi table
Kpi_without_nan.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 425 entries, 1 to 529
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   instrument  425 non-null    object
 1   KPI         425 non-null    object
 2   2022        425 non-null    object
 3   2021        425 non-null    object
 4   2020        425 non-null    object
dtypes: object(5)
memory usage: 19.9+ KB

In [ ]:
# change the type of these columns ['2022','2021','2020'] to Float
Kpi_without_nan[['2022','2021','2020']] = Kpi_without_nan[['2022','2021','2020']].astype(float)

<ipython-input-27-8b2ab67631eb>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Kpi_without_nan[['2022','2021','2020']] = Kpi_without_nan[['2022','2021','2020']].astype(float)

In [ ]:
# recheck data types of columns in Kpi table
Kpi_without_nan.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 425 entries, 1 to 529
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   instrument  425 non-null    object
 1   KPI         425 non-null    object
 2   2022        425 non-null    float64
 3   2021        425 non-null    float64
 4   2020        425 non-null    float64
dtypes: float64(3), object(2)
memory usage: 19.9+ KB

In [ ]:
# verify the main table
main.head()

,Ticker,Instrument,Nombre de titres,Cours (MAD),Capitalisation,date
0,MDP,MED PAPER,4 783 823,"28,98","138 635 190,54",26 décembre 2022
1,ALM,ALUMINIUM DU MAROC,465 954,"1 420,00","661 654 680,00",26 décembre 2022
2,AGM,AGMA,200 000,"6 050,00","1 210 000 000,00",26 décembre 2022
3,NEJ,AUTO NEJMA,1 023 264,"1 817,00","1 859 270 688,00",26 décembre 2022
4,GAZ,AFRIQUIA GAZ,3 437 500,"4 525,00","15 554 687 500,00",26 décembre 2022

In [ ]:
# replace {' ': '', ',': '.'}
main[['Nombre de titres','Cours (MAD)',	'Capitalisation']] = main[['Nombre de titres','Cours (MAD)',	'Capitalisation']].replace({' ': '', ',': '.'}, regex=True)

In [ ]:
# change the type of this columns
main['Nombre de titres'] = main['Nombre de titres'].astype(int)
main[['Cours (MAD)',	'Capitalisation']] = main[['Cours (MAD)',	'Capitalisation']].astype(float)

In [ ]:
# Dictionary to map French month names to English
month_map = {'janvier':'January', 'février':'February', 'mars':'March', 'avril':'April',
             'mai':'May', 'juin':'June', 'juillet':'July', 'août':'August',
             'septembre':'September', 'octobre':'October', 'novembre':'November', 'décembre':'December'}
# Replace the French month names with English month names
for french_month, english_month in month_map.items():
    main['date'] = main['date'].str.replace(french_month, english_month)

# Now let's change the dtype of the 'date' column to datetime
main['date'] = pd.to_datetime(main['date'], format="%d %B %Y")

In [ ]:
# verify the types of main table
main.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6516 entries, 0 to 6515
Data columns (total 6 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Ticker            6516 non-null   object
 1   Instrument        6516 non-null   object
 2   Nombre de titres  6516 non-null   int64
 3   Cours (MAD)       6516 non-null   float64
 4   Capitalisation    6516 non-null   float64
 5   date              6516 non-null   datetime64[ns]
dtypes: datetime64[ns](1), float64(2), int64(1), object(2)
memory usage: 356.3+ KB

In [ ]:
# verify the main table
main.head()

,Ticker,Instrument,Nombre de titres,Cours (MAD),Capitalisation,date
0,MDP,MED PAPER,4783823,28.98,1.386352e+08,2022-12-26
1,ALM,ALUMINIUM DU MAROC,465954,1420.00,6.616547e+08,2022-12-26
2,AGM,AGMA,200000,6050.00,1.210000e+09,2022-12-26
3,NEJ,AUTO NEJMA,1023264,1817.00,1.859271e+09,2022-12-26
4,GAZ,AFRIQUIA GAZ,3437500,4525.00,1.555469e+10,2022-12-26

In [ ]:
# verify the actionnaires table
actionnaires.head()

  Instrument         actionnaires pourcentage
0       AFMA       TENOR FINANCES     39,48 %
1       AFMA  DIVERS ACTIONNAIRES     25,80 %
2       AFMA                 CIMR     11,63 %
3       AFMA        FIPAR HOLDING     10,00 %
4       AFMA          TENOR GROUP      5,53 %

In [ ]:
# replace {' ': '', ',': '.', '%':''} in 'pourcentage' column
actionnaires['pourcentage'] = actionnaires['pourcentage'].replace({' ': '', ',': '.', '%':''}, regex=True)

In [ ]:
# chnage the types of actionnaires table
actionnaires['pourcentage'] = actionnaires['pourcentage'].astype(float)

In [ ]:
# verify the types of actionnaires table
actionnaires.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 480 entries, 0 to 479
Data columns (total 3 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Instrument    480 non-null    object
 1   actionnaires  480 non-null    object
 2   pourcentage   480 non-null    float64
dtypes: float64(1), object(2)
memory usage: 15.0+ KB

In [ ]:
# verify actionnaires table
actionnaires.head()

  Instrument         actionnaires  pourcentage
0       AFMA       TENOR FINANCES        39.48
1       AFMA  DIVERS ACTIONNAIRES        25.80
2       AFMA                 CIMR        11.63
3       AFMA        FIPAR HOLDING        10.00
4       AFMA          TENOR GROUP         5.53

In [ ]:
# save these files in google drive

# create a new directory called CleanData
os.mkdir('/content/gdrive/MyDrive/CleanData')

In [ ]:
# Change the current directory to CLeanData
os.chdir('/content/gdrive/MyDrive/CleanData')

In [ ]:
# Save the final data
main.to_csv('main.csv', index_label=False)
actionnaires.to_csv('actionnaires.csv', index_label=False)
Kpi_without_nan.to_csv('kpi.csv', index_label=False)



---

## Connect and Upload The Final Data to the SQL Server RDBMS

In [ ]:
# Load and preview clean data

# import data files

# main file
main = pd.read_csv("/content/gdrive/MyDrive/CleanData/main.csv")

# actionnaires file
actionnaires = pd.read_csv("/content/gdrive/MyDrive/CleanData/actionnaires.csv")

# KPI's file
kpi = pd.read_csv("/content/gdrive/MyDrive/CleanData/kpi.csv")

In [ ]:
# preview first rows
print(main.head())
print(''*20)
print(main.describe())
print(''*20)
# preview data type
print(main.info())

  Ticker          Instrument  Nombre de titres  Cours (MAD)  Capitalisation  \
0    MDP           MED PAPER           4783823        28.98    1.386352e+08
1    ALM  ALUMINIUM DU MAROC            465954      1420.00    6.616547e+08
2    AGM                AGMA            200000      6050.00    1.210000e+09
3    NEJ          AUTO NEJMA           1023264      1817.00    1.859271e+09
4    GAZ        AFRIQUIA GAZ           3437500      4525.00    1.555469e+10

         date
0  2022-12-26
1  2022-12-26
2  2022-12-26
3  2022-12-26
4  2022-12-26

       Nombre de titres  Cours (MAD)  Capitalisation
count      6.516000e+03  6516.000000    6.516000e+03
mean       3.673613e+07   859.716246    7.384029e+09
std        1.163503e+08  1308.768274    1.518076e+10
min        1.764560e+05     5.500000    7.598245e+06
25%        1.225978e+06   115.237500    5.039705e+08
50%        3.500000e+06   296.975000    1.731363e+09
75%        1.611761e+07  1040.000000    6.679918e+09
max        8.790953e+08  6500.000000    9.078943e+10

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6516 entries, 0 to 6515
Data columns (total 6 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Ticker            6516 non-null   object
 1   Instrument        6516 non-null   object
 2   Nombre de titres  6516 non-null   int64
 3   Cours (MAD)       6516 non-null   float64
 4   Capitalisation    6516 non-null   float64
 5   date              6516 non-null   object
dtypes: float64(2), int64(1), object(3)
memory usage: 356.3+ KB
None

In [ ]:
# preview first rows
print(actionnaires.head())
print(''*20)
print(actionnaires.describe())
print(''*20)
# preview data type
print(actionnaires.info())

  Instrument         actionnaires  pourcentage
0       AFMA       TENOR FINANCES        39.48
1       AFMA  DIVERS ACTIONNAIRES        25.80
2       AFMA                 CIMR        11.63
3       AFMA        FIPAR HOLDING        10.00
4       AFMA          TENOR GROUP         5.53

       pourcentage
count   480.000000
mean     15.833458
std      19.658831
min       0.000000
25%       3.152500
50%       7.240000
75%      20.857500
max      94.120000

<class 'pandas.core.frame.DataFrame'>
Int64Index: 480 entries, 0 to 479
Data columns (total 3 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Instrument    480 non-null    object
 1   actionnaires  480 non-null    object
 2   pourcentage   480 non-null    float64
dtypes: float64(1), object(2)
memory usage: 15.0+ KB
None

In [ ]:
# preview first rows
print(kpi.head())
print(''*20)
print(kpi.describe())
print(''*20)
# preview data type
print(kpi.info())

  instrument                      KPI         2022         2021         2020
1       AFMA       Capital social (2)   10000000.0   10000000.0   10000000.0
2       AFMA     Capitaux propres (3)   49248606.0   43022575.0   30915637.0
3       AFMA         Nombre titres(2)    1000000.0    1000000.0    1000000.0
4       AFMA       Chiffre d'Affaires  243691127.0  221877454.0  203615412.0
5       AFMA  Résultat d'exploitation   96608288.0   92373532.0   70132814.0

               2022          2021          2020
count  4.250000e+02  4.250000e+02  4.250000e+02
mean   1.710864e+09  1.595234e+09  1.439021e+09
std    5.363848e+09  5.025555e+09  4.763265e+09
min    3.000000e+04  5.422380e+03  4.500000e+04
25%    3.343566e+07  3.649183e+07  3.113684e+07
50%    2.060000e+08  2.130740e+08  1.716477e+08
75%    1.036566e+09  9.977630e+08  8.760000e+08
max    6.212544e+10  5.979242e+10  5.429298e+10

<class 'pandas.core.frame.DataFrame'>
Int64Index: 425 entries, 1 to 529
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   instrument  425 non-null    object
 1   KPI         425 non-null    object
 2   2022        425 non-null    float64
 3   2021        425 non-null    float64
 4   2020        425 non-null    float64
dtypes: float64(3), object(2)
memory usage: 19.9+ KB
None

## Connect to Sql Server DB

> Make sure that your Data Base Server is ON

In [ ]:
# import packages
import pandas as pd

# Load and preview clean data

# import data files


# main file
main = pd.read_csv("/content/gdrive/MyDrive/CleanData/main.csv")

# actionnaires file
actionnaires = pd.read_csv("/content/gdrive/MyDrive/CleanData/actionnaires.csv")

# KPI's file
kpi = pd.read_csv("/content/gdrive/MyDrive/CleanData/kpi.csv")

---


## Connect to Sql Server DB

In [ ]:
# first install the pyodbc package
!pip install pyodbc

In [ ]:
# import the package and start the process
import pyodbc

server = 'Server Name'
database = 'Source_DB_Name'

# If username and password are used
# username = 'your_username'
# password = 'your_password'
# case of Windows Authentication

cnxn = pyodbc.connect('DRIVER={ODBC Driver 17 for SQL Server};SERVER='+server+';DATABASE='+database+';Trusted_Connection=yes')
cursor = cnxn.cursor()

# Query to test
query = '''
SELECT * FROM main
'''


result = cursor.execute(query)

# Commit the transaction
cnxn.commit()

# check the schema
for column in cursor.description:
    print("Column Name: ", column[0])
    print("Type Code: ", column[1])
    print("Display Size: ", column[2])

### Insert into SQL Server [Source_DB]

In [ ]:
# Insert mainDataFrame to Table

for index, row in main.iterrows():
    cursor.execute("""
        INSERT INTO main ([Ticker], [Instrument], [Nombre de titres], [Cours (MAD)], [Capitalisation], [date])
        VALUES (?,?,?,?,?,?)
        """,
        row['Ticker'],
        row['Instrument'],
        row['Nombre de titres'],
        row['Cours (MAD)'],
        row['Capitalisation'],
        row['date']
    )


# Remember to commit the changes
cnxn.commit()

In [ ]:
# Insert actionnairesDataFrame to Table

for index, row in actionnaires.iterrows():
    cursor.execute("""
        INSERT INTO actionnaires ([Instrument], [actionnaires], [pourcentage])
        VALUES (?,?,?)
        """,
        row['Instrument'],
        row['actionnaires'],
        row['pourcentage'],
    )


# Remember to commit the changes
cnxn.commit()

In [ ]:
# Insert kpiDataFrame to Table

for index, row in kpi.iterrows():
    cursor.execute("""
        INSERT INTO kpi ([instrument], [KPI], [2022],[2021],[2020])
        VALUES (?,?,?,?,?)
        """,
        row['instrument'],
        row['KPI'],
        row['2022'],
        row['2021'],
        row['2020'],
    )


# Remember to commit the changes
cnxn.commit()

In [ ]:
# Close the connection
cnxn.close()